<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>少女粉</key>
	<dict>
		<key>themeColor</key>
		<real>16282777</real>
		<key>textColor</key>
		<integer>0</integer>
		<key>FindViewController</key>
		<dict>
			<key>hotTextColor</key>
			<real>16282777</real>
			<key>TextColor</key>
			<integer>0</integer>
		</dict>
		<key>RecommendCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<integer>12500670</integer>
			<key>Label</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>MoreItemViewController</key>
		<dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>tableHeaderView</key>
			<dict>
				<key>backgroundColor</key>
				<real>16282777</real>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>16777215</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>16777215</real>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>15921906</real>
			</dict>
		</dict>
		<key>CellView</key>
		<dict>
			<key>moreButton</key>
			<dict>
				<key>BackgroundColor</key>
				<integer>16777215</integer>
			</dict>
			<key>enterLabel</key>
			<dict>
				<key>textColor</key>
				<integer>9211020</integer>
			</dict>
			<key>enterView</key>
			<dict>
				<key>backgroundColor</key>
				<real>12500670</real>
			</dict>
			<key>contentView</key>
			<dict>
				<key>backgroundColor</key>
				<real>15921906</real>
			</dict>
		</dict>
	</dict>
	<key>夜间模式</key>
	<dict>
		<key>themeColor</key>
		<integer>3881787</integer>
		<key>textColor</key>
		<integer>10921638</integer>
		<key>FindViewController</key>
		<dict>
			<key>TextColor</key>
			<integer>16777215</integer>
			<key>hotTextColor</key>
			<real>16282777</real>
		</dict>
		<key>CellView</key>
		<dict>
			<key>moreButton</key>
			<dict>
				<key>BackgroundColor</key>
				<integer>3881787</integer>
			</dict>
			<key>enterLabel</key>
			<dict>
				<key>textColor</key>
				<integer>9211020</integer>
			</dict>
			<key>enterView</key>
			<dict>
				<key>backgroundColor</key>
				<integer>12500670</integer>
			</dict>
			<key>contentView</key>
			<dict>
				<key>backgroundColor</key>
				<real>3289650</real>
			</dict>
		</dict>
		<key>RecommendCollectionViewCell</key>
		<dict>
			<key>backgroundColor</key>
			<real>3881787</real>
			<key>Label</key>
			<dict>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
		</dict>
		<key>MoreItemViewController</key>
		<dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
		</dict>
		<key>ProfileTableViewController</key>
		<dict>
			<key>tableHeaderView</key>
			<dict>
				<key>backgroundColor</key>
				<integer>4737096</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>3881787</real>
			</dict>
		</dict>
		<key>HomePageViewController</key>
		<dict>
			<key>menuView</key>
			<dict>
				<key>lineColor</key>
				<real>16777215</real>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<real>3289650</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
